.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
}

.title-sm {
  position: absolute;
  top: 120px;
  font-size: 25px;
  font-weight: 300;
}

.title-lg {
  position: absolute;
  top: 160px;
  font-size: 70px;
  font-weight: 500;
}

.header-img {
  width: 100%;
  height: 600px;
}
