.navbar-container {
  width: 100%;
  height: 80px;
  position: sticky;
  top: 0;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  background-color: #fdfbfb;
  z-index: 999;
}

.nav-left,
.nav-right {
  flex: 20%;
  margin: 25px;
}

.nav-center {
  flex: 60%;
}

.search-input {
  width: 100%;
  height: 45px;
  border-radius: 150px;
  border: 0.5px solid rgb(151, 148, 148);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  padding-left: 45px;
  padding-right: 20px;
}

.nav-left i {
  position: absolute;
  top: 15px;
  left: 23px;
  opacity: 0.7;
}

.social-icon {
  font-size: 22px;
  margin: 8px;
  cursor: pointer;
}

.nav-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.profile-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.search-icon {
  font-size: 22px;
  margin: 15px;
  cursor: pointer;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0;
}

.menu-item {
  list-style: none;
  margin: 10px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.link-active {
  background-color: #ebebeb;
  padding: 2px;
  border-radius: 8px;
}
